{% unless title %}
  {% assign title = config.defaultTitle %}
{% endunless %}


{%- assign description = description | default: config.defaultDescription  -%}
{%- assign image = image | default: config.defaultImage -%}

<!doctype html>
<html lang="{{ config.lang }}">
  <head>
      {% include 'partials/head.liquid' %}
  </head>
  <body class="pwa">
    {% include 'partials/header-pwa.liquid' %}
    {% include 'partials/nav-pwa.liquid' %}
    <main class="stack">
      {% assign modelFile = '/models/model.min.glb' | fileExist %}
      {% if modelFile %}
        <section class="banner feature color2">
          <model-viewer 
            src="/models/model.min.glb"
            camera-controls
            poster="/models/poster.png"
            camera-orbit="0deg 40deg 24m"
            field-of-view="22.98deg"
            shadow-intensity="1"
            shadow-softness="1"
            environment-image="legacy"
            exposure=".69"
            tone-mapping="neutral"
            ar-status="not-presenting">
          </model-viewer>
        </section>
      {% endif %}
      {% if content.length > 10 %}
      <section class="popout color-primary main-header">
        <h1>Концепция</h1>
      </section>
      {{ content }}
      {% endif %}
      {% for room in concept %}
      <section id="concept-{{forloop.index}}" class="stack popout">
        {% if room.text.length > 4 %}
        <details class="stack color1">
          <summary><h2>{{room.name}}</h2></summary>
          <p>{{ room.text | markdown }}</p>
        </details>
        {% else %}
        <h2 class="color1">{{room.name}}</h2>
        
        {% endif %}
        {% for pic in room.pics %}
          <figure>
            {% if pic.imgurl != "" %}
            {% comment %} {% respImageURL pic.imgurl pic.title "100vw" %} {% endcomment %}
            <img src="{{ pic.imgurl }}" alt="{{ pic.title }}">
            {% else %}
            {% include 'partials/img-placeholder.liquid' %}
            {% endif %}
            <figcaption>{{pic.title}}</figcaption>
          </figure>
        {% endfor %}
        <div class="items">
          {% for item in room.items %}
          {% if item.url != "" %}
          <a href="{{item.url}}" target="_blank">
            <figure>
              {% if item.imgurl != "" %}
              {% comment %} {% respImageURL item.imgurl item.title "45ch" %} {% endcomment %}
               <img src="{{ item.imgurl }}" alt="{{ item.title }}">
              {% else %}
              {% include 'partials/img-placeholder.liquid' %}
              {% endif %}
              <figcaption>{{item.title}}</figcaption>
            </figure>
          </a>
          {% else %}
          <figure>
            {% if item.imgurl != "" %}
              <img src="{{ item.imgurl }}" alt="{{ item.title }}">
            {% else %}
            {% include 'partials/img-placeholder.liquid' %}
            {% endif %}
            <figcaption>{{item.title}}</figcaption>
          </figure>
          {% endif %}
          {% endfor %}
        </div>
      </section>
      {% endfor %}

      {% if makeProject %}
      {% for subcat in project %}
      {% if subcat[1].items.length > 0 %}
      <section id="project-{{subcat[0]}}" class="stack">
        <h2>{{ subcat[1].title }}</h2>
        {% for item in subcat[1].items %}
          <div class="card">
            {% if item.url != "" %}
            <a href="{{item.url}}" target="_blank">
              {% if item.imgurl != "" %}
                <img src="{{ item.imgurl }}" alt="{{ item.title }}">
              {% else %}
              {% include 'partials/img-placeholder.liquid' %}
              {% endif %}
            </a>
            {% else %}
            {% if item.imgurl != "" %}
              <img src="{{ item.imgurl }}" alt="{{ item.title }}">
            {% else %}
            {% include 'partials/img-placeholder.liquid' %}
            {% endif %}
            {% endif %}
            <div class="card-text">
              <p>{{item.title}}</p>
              <p>{{item.details}}</p>
            </div>
            <p>{{item.count | append: " "}}{% if item.edizm != "" %}{{item.edizm}}{% else %}шт{% endif %}</p>
          </div>
        {% endfor %}
      </section>
      {% endif %}
      {% endfor %}
      {% endif %}
    </main>
    {% include 'partials/footer.liquid' %}
    <script type="module" src="/assets/js/model-viewer.min.js"></script>
  </body>
</html>